@import "../fonts/roboto/stylesheet.css";
@import "../fonts/josefin-sans/stylesheet.css";

html, body, input, textarea {
  font-family: var(--font-primary);
}

html, body {
  background: var(--color-background);
  color: var(--color-text);
}

strong {
  font-weight: 500;
}

.title-lg {
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
}
